@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row">

    <div class="col-6">
        <h2 class="text-info scale-up-center">Admin Users</h2>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-info scale-up-center" asp-area="Identity" asp-page="/Account/Register"><i class="fas fa-user-plus"></i> &nbsp; New Admin User</a>
    </div>

</div><br />
<table class="table table-striped border">
    <tr class="table-info scale-up-center">
        <th style="text-align: center">Admin Name</th>
        <th style="text-align: center">@Html.DisplayNameFor(m => m.PhoneNumber)</th>
        <th style="text-align: center">@Html.DisplayNameFor(m => m.Email)</th>
        <th style="text-align: center">Disabled</th>
        <th></th>
    </tr>
    @foreach (var i in Model)
    {
        <tr class="scale-up-center">
            <td style="text-align: center">@i.Name</td>
            <td style="text-align: center">@i.PhoneNumber</td>
            <td style="text-align: center">@i.Email</td>
            <td style="text-align: center">
                @if (i.LockoutEnd != null && i.LockoutEnd > DateTime.Now)
                {
                    <label>Disabled</label>
                }
            </td>
            <td style="text-align: center" class="btn-group">
                @if (i.LockoutEnd == null || i.LockoutEnd < DateTime.Now)
                {
                    <a class="btn btn-primary" asp-area="Administrator" asp-controller="AdminUsers" asp-action="Edit" asp-route-id="@i.Id">
                        <i class="fas fa-user-edit"></i>
                    </a>

                    <a class="btn btn-danger" href="@Url.Action("Delete/" + i.Id)">
                        <i class="fas fa-user-minus"></i>
                    </a>
                }
            </td>
        </tr>
    }
</table>
@section Scripts{
    @if (ViewBag.edit != null && ViewBag.edit)
    {
        <script>
            swal({
                title: "Edited!",
                text: "",
                icon: "success",
                button: "OK",
            });
        </script>
    }
    else if (ViewBag.delete != null && ViewBag.delete)
    {
        <script>
            swal({
                title: "Deleted!",
                text: "",
                icon: "error",
                button: "OK",
            });
        </script>
    }
    else if (ViewBag.create != null && ViewBag.create)
    {
        <script>
            swal({
                title: "Created!",
                text: "",
                icon: "info",
                button: "OK",
            });
        </script>

    }}