@using System.Linq
@using ChainStore.Extension
@using ChainStore.Models.ViewModel
@using Microsoft.AspNetCore.Http
@model ShoppingCardViewModel
@{
    ViewData["Title"] = "سبد خرید";
}
@inject IHttpContextAccessor HttpContextAccessor


@if (Model.Products.Count == 0)
{
    <div class="kenburns-top">
            <img src="~/images/empty_cart.jpg" class="img-fluid rounded mx-auto d-block" style=""/>
    </div>

}
else
{

<h2 class="text-info slide-in-left">Shopping Card</h2>

<div class="container border border-secondary rounded " style="padding: 15px; direction: ltr;">
    <div class="row">
            <div class="col-md-8 col-12" style="border-right: 1px solid black">
        <form method="post">
            <input hidden asp-for="@Model.Products" />

            @{ var temp = HttpContextAccessor.HttpContext.Session.Get<Dictionary<int, int>>("ls"); }

                <table class="table table-striped slide-in-left" style="width: 100%">
                    <tr class="table-info">
                        <th style="text-align: center" width="20%"></th>
                        <th style="text-align: center">
                            <label asp-for="Products.FirstOrDefault().Name">نام محصول</label>
                        </th>
                        <th style="text-align: center">
                            <label asp-for="Products.FirstOrDefault().Price">قیمت</label>
                        </th>
                        <th style="text-align: center">
                            <label asp-for="Products.FirstOrDefault().Count">تعداد</label>
                        </th>
                        <th style="text-align: center">
                            <label asp-for="Products.FirstOrDefault().ProductTypes">نوع محصول</label>
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var i in Model.Products)
                    {
                        <tr style="padding: 50px">
                            <td style="text-align: center">
                                <a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-id="@i.Id">
                                    <img src="@i.Image" style="margin: auto; width: 100%; display: block; border-radius: 5px; border: 1px solid gray" />
                                </a>
                            </td>
                            <td style="text-align: center">
                                @Html.DisplayFor(e => i.Name)
                            </td>
                            <td style="text-align: center">
                                @i.Price
                            </td>
                            <td style="text-align: center">
                                @if (temp.TryGetValue(i.Id, out int c))
                                {
                                    @c
                                }
                            </td>
                            <td style="text-align: center">
                                @i.ProductTypes.Name
                            </td>
                            <td style="text-align: center">
                                <button class="btn btn-danger" asp-action="Remove" asp-route-id="@i.Id"><i class="far fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    }
                </table>
        </form>
            </div>
            <div class="col-4 text-center">
        <form method="post">
                <h6 class=" text-primary slide-in-right ">
لطفا فرم را پر کنید.
                </h6>
            <br/>
                <div class="bodyG slide-in-right">
                    <div class="container">
                        <div class="group">
                            <input asp-for="Appointments.CustomerName" class="inputG" type="text" required>
                            <span class=""></span>
                            <span class="bar"></span>
                            <label class="labelG text-center d-block w-100">نام مشتری</label>
                        </div>
                        @*<label asp-for="Appointments.CustomerName"></label> :*@
                    </div>
                </div>
                @*<div class="col-12">
                        <input class="form-control" asp-for="Appointments.CustomerName" />
                    </div>*@
                <div class="bodyG slide-in-right">
                    <div class="container">
                        <div class="group">
                            <input asp-for="Appointments.CustomerNumber" class="inputG" type="tel" required>
                            <span class=""></span>
                            <span class="bar"></span>
                            <label class="labelG text-center d-block w-100">شماره تلفن مشتری</label>
                        </div>
                        @*<label asp-for="Appointments.CustomerNumber"></label> :*@
                    </div>
                </div>

                @*<label asp-for="Appointments.CustomerNumber"></label> :*@
                @*<div class="col-12">
                        <input class="form-control" asp-for="Appointments.CustomerNumber" />
                    </div>*@
                @*<div class="col-12">

                        <label asp-for="Appointments.CustomerEmail"></label> :
                    </div>*@
                <div class="row slide-in-right">
                    <div class="col-12">
                        <div class="bodyG">
                            <div class="container">
                                <div class="group">
                                    <input asp-for="Appointments.CustomerEmail" class="inputG" type="email" required>
                                    <span class=""></span>
                                    <span class="bar"></span>
                                    <label class="labelG text-center d-block w-100">ایمیل مشتری</label>
                                </div>
                                @*<label asp-for="Appointments.CustomerEmail"></label> :*@
                            </div>
                        </div>

                        @*<input class="form-control" asp-for="Appointments.CustomerEmail" />*@
                    </div>
                </div>
                @*<div class="col-12">
                        <label asp-for="Appointments.AppointmentDate"></label> :
                    </div>*@
                <div class="row slide-in-right">
                    <div class="col-12">
                        <div class="bodyG">
                            <div class="container">
                                <div class="group">
                                    <input asp-for="Appointments.AppointmentDate" id="datepicker" class="inputG" type="text" required>
                                    <span class=""></span>
                                    <span class="bar"></span>
                                    <label class="labelG text-center d-block w-100">روز تحویل</label>
                                </div>
                            </div>
                        </div>
                        @*<label asp-for="Appointments.AppointmentDate"></label>*@

                        @*<input type="text" asp-for="Appointments.AppointmentDate" class="form-control" id="datepicker" value="" />*@
                    </div>
                </div>
                @*<div class="col-12">
                        <label asp-for="Appointments.AppointmentTime"></label> :
                    </div>*@
                <div class="row slide-in-right">
                    <div class="col-12">
                        <div class="bodyG">
                            <div class="container">
                                <div class="group">
                                    <input asp-for="Appointments.AppointmentTime" class="inputG timepicker" type="text" required>
                                    <span class=""></span>
                                    <span class="bar"></span>
                                    <label class="labelG text-center d-block w-100">ساعت تحویل</label>
                                </div>
                                @*<label asp-for="Appointments.AppointmentTime "class="timepicker"></label> :*@
                            </div>
                        </div>

                        @*<input class="form-control timepicker" asp-for="Appointments.AppointmentTime" id="timepicker" type="text" value="" style="margin-bottom: 10px" />*@
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-success slide-in-right" asp-for="Appointments.AppointmentTime" id="btnPlaceHolder" type="submit">تایید</button>
                </div>

        </form>
            </div>
    </div>
</div>
                }
@section Scripts{
    <script>


        $('.timepicker').timepicker({
            timeFormat: 'h:mm p',
            interval: 30,
            minTime: '10',
            maxTime: '06:00pm',
            defaultTime: '11',
            startTime: '08:00am',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });


        $(function () {
            $("#datepicker").datepicker({
                minDate: +1,
                maxDate: "+3M"
            });
        });
    </script>
}
