@using System.Linq
@using ChainStore.Extension
@using Microsoft.AspNetCore.Http
@using ChainStore.Models.ViewModel
@model ProductsViewModel
@{
    ViewData["Title"] = "Details";
}
<form method="post" enctype="multipart/form-data">

    <div class="row">
        <input name="tag" id="tag" hidden type="text" />
        <input name="type" id="type" hidden type="text" />

        <div class="col-3"></div>
        <div class="col-6">
            <h2 class="text-info ">Details</h2>
            <div class="p-4 border rounded row">
                <div class="col-2"></div>
                <div class="col-8">

                    <div class="bodyG">
                        <div class="container">


                            <div class="group">
                                <input asp-for="Products.Name" class="inputG slide-in-elliptic-top-fwd" type="text" required>
                                <span class=""></span>
                                <span class="bar"></span>
                                <label class="labelG slide-in-elliptic-top-fwd">Name</label>
                            </div>
                            <span class="text-danger" asp-validation-for="Products.Name"></span>
                            <br /><br />
                            <div class="group">
                                <input asp-for="Products.Price" class="inputG slide-in-elliptic-top-fwd" type="text" required>
                                <span class=""></span>
                                <span class="bar"></span>
                                <label class="labelG slide-in-elliptic-top-fwd">Price</label>
                            </div>
                            <span class="text-danger" asp-validation-for="Products.Price"></span>
                            <br /><br />

                            @{
                                var available = Model.Products.Available == true ? "Available" : "Not Available";
                            }

                            <div class="group">
                                <input type="checkbox" class="inputG slide-in-elliptic-top-fwd" asp-for="Products.Available">
                                <span class=""></span>
                                <span class=""></span>
                                <label class="labelG slide-in-elliptic-top-fwd">Available</label>
                            </div>

                            <br />

                            @*<div class="float-left">
            <div class="htmlselect">
                <div class="bodyselect">
                    <label id="img_category_label" class="field labelselect" for="img_category" data-value="">
                        <span class="">Search by Product Type</span>
                        <div id="img_category" class="psuedo_select" name="img_category">
                            <span onchange="fillTypeInput(this)" class="selected spanselect"></span>
                            <span class="selected spanselect"></span>
                            <ul id="img_category_options" class="options ul">
                                @for (int i = 0; i < Model.SpecialTags.Count(); i++)
                                {
                                    <li class="option li" onclick="fillTypeInput(this)" data-value="@Model.ProductTypes.ToList()[i].Id">@Model.ProductTypes.ToList()[i].Name</li>
                                }
                            </ul>
                        </div>
                    </label>

                </div>
            </div>

        </div>*@
                            <br />
                            <select class="form-control slide-in-elliptic-top-fwd" style="" asp-for="Products.ProductTypeId" asp-items="Model.ProductTypes.ToSelectList(18)"></select>
                            <br />
                            <select class="form-control slide-in-elliptic-top-fwd" style="" asp-for="Products.SpecialTagId" asp-items="Model.SpecialTags.ToSelectList(18)"></select>

                            @*<div class="group">
            <input asp-for="ProductTypes.Name" readonly class="inputG2" type="text" required>
            <span class="highlight"></span>
            <span class="bar2"></span>
            <label class="labelG2">Special Tag</label>
        </div>
        <br />*@
                            @*<div class="float-left">
            <div class="htmlselect">
                <div class="bodyselect">
                    <label id="img_category_label" class="field labelselect" for="img_category">
                        <span class="">Search by Tag</span>
                        <div id="img_category" class="psuedo_select" name="img_category">
                            <span id="spantag" class="selected spanselect"></span>
                            <span class="selected spanselect" id="toclear"></span>
                            <ul id="img_category_options" class="options ul">
                                @for (int i = 0; i < Model.SpecialTags.Count(); i++)
                                {
                                    <li class="option li" onclick="fillTagInput(this)" data-value="@Model.SpecialTags.ToList()[i].Id">@Model.SpecialTags.ToList()[i].Name</li>
                                }
                            </ul>
                        </div>
                    </label>

                </div>
            </div>
        </div>*@
                            <br />

                            <input asp-for="Products.Image" class="form-control slide-in-elliptic-top-fwd" style="" type="file">

                            <br />


                            @*<div class="group">
            <input type="number" asp-for="SpecialTags.Name" readonly class="inputG2" required>
            <span class="highlight"></span>
            <span class="bar2"></span>
            <label class="labelG2">cccc</label>
        </div>
        <br />*@



                            <div class="group">
                                <input type="number" id="count" class="inputG slide-in-elliptic-top-fwd" min="0" placeholder="Count" required value="0" asp-for="Products.Count" />


                                <span class=""></span>
                                <span class="bar"></span>
                                <label class="labelG slide-in-elliptic-top-fwd">Count</label>
                            </div>
                            <span class="text-danger" asp-validation-for="Products.Price"></span>
                            <br />
                        </div>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-primary slide-in-elliptic-top-fwd" type="submit">Create</button>
                        <button asp-action="Index" onclick="givezerotocount()" class="btn btn-success">
                            Back To List
                        </button>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        @*<div class="col-6">
                <div style="text-align: center">
                    <br />
                    <img src="@Model.Products.Image" style="border: 1px solid gray;border-radius: 5px; width:100%" />
                    <br /><br />
                    @if (Model.Products.Available)
                    {
                        <img src="~/images/available.png" style="width:50%" alt="Available" />
                    }
                    else
                    {
                        <img src="~/images/notavailable.jpg" style="width:50%" alt="Not Available" />
                    }
                </div>

            </div>*@
       <div class="col-3"></div>
    </div>
    @*</div>
        <div class="col-2"></div>
        @*<div class="col-1"></div>
    *@
    @*</div>
        <br />*@

</form>

@section Scripts{
    <script>
        function fillTagInput(e) {
            var tag = document.getElementById("tag");
            var innertext = e.innerText;
            tag.value = innertext;

        }
        function fillTypeInput(e) {
            var type = document.getElementById("type");
            type.value = e.innerText;
        }

            document.addEventListener('DOMContentLoaded', function () {
                var tag = document.getElementById("tag");
                document.getElementById('spantag').innerText = tag.innerText;
                document.getElementById('toclear').innerText = '';
            });
            //window.onload = function () {
            //        var tag = document.getElementById("tag");
            //        document.getElementById('spantag').innerText = tag.innerText;
            //        document.getElementById('toclear').innerText = '';
            //    };
    </script>
}